.parent{
    height: 500px;
    width: 300px;
    border: 1px solid red;
    margin: 100px;
    /* box-sizing: border-box; */
    display: flex;
    align-items: flex-start;

    flex-wrap: wrap;
}
p{
    display: block;
}
div.parent div.child-1{
padding: 40px; 
}
div.parent div.child-2{
    padding: 40px; 
    }
    div.parent div.child-3{
        padding: 40px; 
        }
.child-1,.child-2,.child-3,.child-4,.child-5,.child-6,.child-7,.child-8,.child-9,
.child-10,.child-11,.child-12{
background-color: aqua;
padding: 30px;
margin: 4px;
box-sizing: border-box;
}
.child-4,.child-5,.child-6,.child-7,.child-8,.child-9,
.child-10,.child-11,.child-12{
    flex-grow: 2;
}