
body{
margin: 0px;
padding: 0px;
height: 100vh;
width: 100vw;
font-family:'poppins',sans-serif;
}
.bg{
    /* background:url(one\ direction.jpg);  */
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.bg{
/* content: ''; */
position: absolute;
top: 0px;
height: 100%;
left: 0px;
width: 25%;
background-color: #000;
opacity: 0.4;
}
.form{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
    background-color: white;
    color:black;
    width: 350px;
    min-height: 400px;
    box-shadow: 0 15px 50px black;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 12px;
}
.form h2{
    margin: 0 0 40px; 
    padding: 0px;
    color:#777;
}
.input input{
    border: none;
    border-bottom: 2px solid black;
    padding: 10px;
    margin:20px 0px; 
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    outline:none;
    box-sizing: border-box;
    color:#777;
}
input[type="submit"]{
    padding: 10px;
    margin:10px;
    background-color: purple; 
   border-radius: 12px;
   margin-bottom: 20px;
   color:white;
   box-shadow: 0 4px 10px gray;
   box-sizing: border-box;
   position: relative;
   left: -11px;
  
}
input[type="submit"]:active{
    box-shadow: 0 0px ;
    transform: translateY(4px);
}
input[type="submit"]:hover{
    background-color:#3030ce;
    
}
input:hover{
    border-bottom-color: #5656db;
}
a{
    text-decoration: none;
    color:#777;
    font-weight: 700;
}

@media screen and (max-width: 500px) {
    .bg{
        width:100%;
    }
    .form{
        transform: translate(0, 0);
        position: relative;
        top: 0;
        left: 0;
        width: 90%;
    }
    body{
        display: grid;
        place-items: center;
    }
}

